.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 98vh;
  .dashboard {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    height: 95vh;
    width: 95vw;
  }
  .legend {
    margin: 1%;
    background-color: antiquewhite;
    width: 20%;
    min-width: 20%;
    overflow: scroll;
    header {
      display: flex;
      padding: 5px;
      justify-content: center;
      .toggleUser {
        .userButton {
          width: 7em;
          background-color: white;
          &.on {
            background-color: green;
          }
        }
        .hoverButton {
          width: 7em;
          background-color: white;
          &.on {
            background-color: green;
          }
        }
      }
    }
    .legendSection {
      word-wrap: break-word;
      margin: 1em;
      img {
        border-radius: 8px;
        margin-left: 1em;
      }
      span {
        margin: 1em;
      }
    }
    .subName {
      vertical-align: top;
    }
    .reccomended {
      .subscriptions,
      .reccomendedChannels {
        display: flex;
        flex-wrap: wrap;
      }
      .channel {
        &:hover {
          & > p {
            z-index: 3;
            display: block;
            position: absolute;
            top: 10;
          }
        }
      }
      .channel p {
        display: none;
      }
      img {
        float: left;
        width: 40px;
        height: 40px;
      }
    }
  }
}
.outerdisplay {
  width: 80%;
  border: 2px solid black;
  background-color: antiquewhite;
  margin: 3%;
  .reccomended {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    height: 100%;
    div {
      margin: 7px;
      padding: 3px;
      height: fit-content;
      transition: 0.1s;
      img {
        cursor: pointer;
      }
      p {
        max-height: 20px;
        max-width: 88px;
        font-size: 20%;
        text-align: center;
      }
    }
  }
}
.display {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin: 1%;
  > div {
    margin: 1%;
  }
  .usercolumn {
    width: 20%;
    display: flex;
    flex-direction: column;
    .chart {
      height: 50vh;
      width: 280px;
      margin: 10px;
    }
    .user {
      height: 50vh;
      text-align: center;
      border: 2px solid black;
    }
  }
  .insert {
    width: 8%;
    margin-top: 40%;
    margin-bottom: 12%;
    border: 2px solid black;
    text-align: center;
    height: fit-content;
    padding: 10px;
    div {
      margin-top: 5px;
      background-color: green;
      padding: 5px;
      font-size: 80%;
      &:hover {
        cursor: pointer;
        background-color: wheat;
      }
    }
  }
  .subcolumn {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    .subcontainer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    div {
      margin: 7px;
      padding: 3px;
      height: fit-content;
      transition: 0.1s;
      img {
        cursor: pointer;
      }
      p {
        max-height: 20px;
        max-width: 88px;
        font-size: 20%;
        text-align: center;
      }
    }
  }
  .Gaming {
    background-color: yellow;
  }
  .Lifestyle {
    background-color: green;
  }
  .Music {
    background-color: red;
  }
  .Society {
    background-color: blue;
  }
  .Entertainment {
    background-color: orange;
  }
  .Technology {
    background-color: rgb(0, 255, 102);
  }
  .Hobby {
    background-color: rgb(193, 193, 193);
  }
  .Sports {
    background-color: rgb(207, 37, 190);
  }
}
