.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./assets/bgpic.jpg");
  .landingpage {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    .landingtitle {
      position: fixed;
      width: 40%;
      text-align: center;
      top: 1%;
      left: 50%;
      padding: 20px;
      transform: translate(-50%, 0);
      color: white;
    }
    .landingbutton {
      position: fixed;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 10px;
    }
    .middleContainer {
      margin-top: 5em;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding-top: 4em;
      gap: 50px;
      color: white;
    }
    .lowerContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;

      color: white;
    }

    .icon {
      height: 50px;
      padding-bottom: 0.8em;
    }
    .featureTitle {
      padding-top: 0.2em;
      color: white;
    }
    .homeImage {
      width: 22%;
    }
  }
  .transition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 27em;

    .transitionimg {
      animation: rotate 1s linear infinite;
    }

    .transitiontext {
      margin-top: -2px;
      color: rgba(255, 255, 255, 0.678);
    }
  }

  .dashboard {
    display: flex;
    border: 3px solid black;
    justify-content: center;
    height: 96vh;
    width: 95vw;
    margin: 6px;
    margin-top: 12px;
  }
  .legend {
    margin: 1%;
    background-color: antiquewhite;
    width: 20%;
    min-width: 20%;
    overflow: scroll;
    border: 3px solid white;
    .insert {
      margin: 1.5em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      button {
        width: 7em;
        padding: 3px;
        margin: 4px;
        box-shadow: 5px 5px 11px rgba(33,33,33,0.5);
        &:hover {
          cursor: pointer;
          background-color: green;
          border-color: green;
        }
      }
    }
    header {
      display: flex;
      padding: 5px;
      justify-content: center;
      margin: 0.7em;
      .toggleUser {
        box-shadow: 5px 5px 11px rgba(33,33,33,0.5);
        .userButton {
          width: 7em;
          &.on {
            background-color: green;
            border-color: green;
          }
        }
        .hoverButton {
          width: 7em;
          &.on {
            background-color: green;
            border-color: green;
          }
        }
      }
    }
    .legendSection {
      word-wrap: break-word;
      margin: 1em;
      img {
        border-radius: 8px;
        margin-left: 1em;
        box-shadow: 5px 5px 11px rgba(33,33,33,0.5);
      }
      span {
        margin: 1em;
      }
    }
    .subName {
      vertical-align: top;
    }
    .reccomended {
      .subscriptions,
      .reccomendedChannels {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .channel {
        margin: 5px;
        &:hover {
          & > p {
            z-index: 3;
            display: block;
            position: absolute;
            background-color: black;
            color: wheat;
            margin-top: 10px;
            margin-left: 16px;
          }
        }
      }
      .channel p {
        display: none;
      }
      img {
        float: left;
        width: 40px;
        height: 40px;
      }
    }
  }
}
.outerdisplay {
  width: 80%;
  border: 4px solid white;
  background-color: antiquewhite;
  margin: 3%;
  .categorySection {
    display: flex;
    flex-wrap: wrap;
  }
  .reccomended {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    height: 100%;
    .titleBlock {
      text-align: center;
      width: 100%;
      height: 65px;
      word-wrap: break-word;
      line-height: 35px;
      h3 {
        vertical-align: text-top;
      }
    }
    div {
      margin-bottom: -20px;
      padding: 15px;
      height: fit-content;
      transition: 0.1s;
      img {
        width: 110px;
        border: 2px solid rgb(153, 135, 135);
        cursor: pointer;
        border-radius: 17px;
        &:hover {
          box-shadow: 5px 0 11px rgba(33,33,33,.2);
        }
      }
      p {
        max-height: 40px;
        max-width: 110px;
        font-size: 80%;
        text-align: center;
      }
    }
  }
}
.display {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin: 1%;
  > div {
    margin: 1%;
  }
  .usercolumn {
    width: 20%;
    display: flex;
    flex-direction: column;
    .chart {
      height: 50vh;
      width: 19vw;
      margin: 10px;
    }
    .user {
      height: 25vh;
      text-align: center;
      border: 2px solid black;
      box-shadow: 5px 5px 11px rgba(33,33,33,0.5);
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &:hover {
          cursor: pointer;
          background-color: green;
          border-color: green;
        }
      }
    }
  }
  .insert {
    width: 8%;
    margin-top: 33%;
    margin-bottom: 12%;
    border: 2px solid black;
    text-align: center;
    height: fit-content;
    padding: 10px;
    button {
      margin-top: 5px;
      padding: 5px;
      font-size: 80%;
      width: 6em;
      box-shadow: 5px 5px 11px rgba(33,33,33,0.5);
      &:hover {
        cursor: pointer;
        background-color: green;
        border-color: green;
      }
    }
  }

  .subcolumn {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    .subcontainer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    div {
      margin: 7px;
      padding: 3px;
      height: fit-content;
      transition: 0.1s;
      img {
        cursor: pointer;
      }
      p {
        max-height: 20px;
        max-width: 88px;
        font-size: 20%;
        text-align: center;
      }
    }
  }
  .Gaming {
    background-color: yellow;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Lifestyle {
    background-color: green;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Music {
    background-color: red;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Society {
    background-color: blue;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Entertainment {
    background-color: orange;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Technology {
    background-color: rgb(0, 255, 102);
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Hobby {
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
  .Sports {
    background-color: rgb(207, 37, 190);
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 0 11px rgba(33,33,33,.2);
    }
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
