.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 98vh;
}
.container .dashboard {
  display: flex;
  border: 2px solid black;
  justify-content: center;
  height: 95vh;
  width: 95vw;
}
.container .legend {
  margin: 1%;
  background-color: antiquewhite;
  width: 20%;
  min-width: 20%;
  overflow: scroll;
}
.container .legend header {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.container .legend header .toggleUser .userButton {
  width: 7em;
  background-color: white;
}
.container .legend header .toggleUser .userButton.on {
  background-color: green;
}
.container .legend header .toggleUser .hoverButton {
  width: 7em;
  background-color: white;
}
.container .legend header .toggleUser .hoverButton.on {
  background-color: green;
}
.container .legend .legendSection {
  word-wrap: break-word;
  margin: 1em;
}
.container .legend .legendSection img {
  border-radius: 8px;
  margin-left: 1em;
}
.container .legend .legendSection span {
  margin: 1em;
}
.container .legend .subName {
  vertical-align: top;
}
.container .legend .reccomended .subscriptions,
.container .legend .reccomended .reccomendedChannels {
  display: flex;
  flex-wrap: wrap;
}
.container .legend .reccomended .channel {
  margin: 3px;
}
.container .legend .reccomended .channel:hover > p {
  z-index: 3;
  display: block;
  position: absolute;
  top: 10;
  background-color: black;
  color: wheat;
}
.container .legend .reccomended .channel p {
  display: none;
}
.container .legend .reccomended img {
  float: left;
  width: 40px;
  height: 40px;
}

.outerdisplay {
  width: 80%;
  border: 2px solid black;
  background-color: antiquewhite;
  margin: 3%;
}
.outerdisplay .categorySection {
  display: flex;
  flex-wrap: wrap;
}
.outerdisplay .reccomended {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.outerdisplay .reccomended div {
  margin: 7px;
  padding: 3px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: 0.1s;
}
.outerdisplay .reccomended div img {
  cursor: pointer;
}
.outerdisplay .reccomended div p {
  max-height: 20px;
  max-width: 88px;
  font-size: 20%;
  text-align: center;
}

.display {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin: 1%;
}
.display > div {
  margin: 1%;
}
.display .usercolumn {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.display .usercolumn .chart {
  height: 50vh;
  width: 280px;
  margin: 10px;
}
.display .usercolumn .user {
  height: 50vh;
  text-align: center;
  border: 2px solid black;
}
.display .insert {
  width: 8%;
  margin-top: 40%;
  margin-bottom: 12%;
  border: 2px solid black;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
.display .insert div {
  margin-top: 5px;
  background-color: green;
  padding: 5px;
  font-size: 80%;
}
.display .insert div:hover {
  cursor: pointer;
  background-color: wheat;
}
.display .subcolumn {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.display .subcolumn .subcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.display .subcolumn div {
  margin: 7px;
  padding: 3px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: 0.1s;
}
.display .subcolumn div img {
  cursor: pointer;
}
.display .subcolumn div p {
  max-height: 20px;
  max-width: 88px;
  font-size: 20%;
  text-align: center;
}
.display .Gaming {
  background-color: yellow;
}
.display .Lifestyle {
  background-color: green;
}
.display .Music {
  background-color: red;
}
.display .Society {
  background-color: blue;
}
.display .Entertainment {
  background-color: orange;
}
.display .Technology {
  background-color: rgb(0, 255, 102);
}
.display .Hobby {
  background-color: rgb(193, 193, 193);
}
.display .Sports {
  background-color: rgb(207, 37, 190);
}/*# sourceMappingURL=Display.module.css.map */